<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">

    <meta name="description"
          content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header">
      <div id="header-container">
        <div id="header-row">
          <header id="logo">
            <h1><a href="/">{{ site.name }}</a></h1>
            <em><a href="/">{{ site.subheader }}</a></em>
          </header>
          <nav id="top-navigation">
            <ul>
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.group == link.group %}
                  {% assign current = 'active' %}
                {% endif %}
                <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text}}</a></li>
              {% endfor %}
            </ul>
          </nav>
          
        </div>
      </div>
      <div class="ribbon-container">
        <a href="http://github.com/tennu/tennu" class="fork-ribbon" target="_blank">View on Github</a>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      Tennu made with <span class="heart">♥</span> by <a href="https://github.com/havvy">Havvy</a>
      <br>
      Site theme made with <span class="heart">♥</span> by <a href="http://robotlolita.github.io">Quildreen Motta</a>.
    </div>
  </body>
</html>
